@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --vary-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.6rem;
  color: var(--dark-grayish-blue);

  /* background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right -2% bottom 2rem; */
}

.container {
  margin-left: 18rem;
  margin-right: 18rem;
}

/* header start */

.header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__hamburger {
  display: none;
}

.header__close {
  display: none;
}

.header__nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.6rem;
}

.header__nav li a {
  text-decoration: none;
  color: var(--dark-blue);
}

.header__nav li a:hover {
  color: var(--dark-grayish-blue);
  transition: 0.3s color;
}

.btn {
  text-decoration: none;
  color: var(--vary-light-gray);
  background-color: var(--bright-red);
  padding: 1.4rem 2.8rem;
  border-radius: 30px;

  box-shadow: 0px 4px 8px var(--bright-red);
}

.btn:hover,
.btn:active {
  opacity: 0.6;
  transition: 0.3s opacity;
}

/* header end */

/* main start */
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 80vh;
  margin-top: 5rem;

  position: relative;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;

  transform: translateX(-50%) translateY(-200%);
  transition: 0.3s transform;

  width: 90vw;
  background-color: var(--vary-light-gray);
}

.popup__nav {
  padding: 8rem 10rem;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.popup__nav li a {
  font-size: 2.6rem;
  text-decoration: none;
  color: var(--dark-blue);
}

.popup__nav li a:hover {
  color: var(--bright-red);
  transition: 0.3s color;
}

.active {
  z-index: 11;
  box-shadow: 10px 10px 100px 2px var(--dark-blue);
  transform: translateX(-50%) translateY(0);
  transition: 0.3s transform, 1.2s box-shadow;
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  flex-basis: 25%;
  gap: 2.5rem;
}

.main__body h1 {
  color: var(--dark-blue);
  font-size: 4.2rem;
}
/* main end */

/* manage start */
.manage {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.manage__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  gap: 2.5rem;
  flex-basis: 25%;
}

.manage__intro h1 {
  color: var(--dark-blue);
  font-size: 3.2rem;
}

.manage__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 30%;

  gap: 6rem;
}

.manage__box {
  display: flex;
  justify-content: space-between;

  gap: 2rem;
}

.manage__box span {
  padding: 0.8rem 1.8rem;
  border-radius: 20px;
  background-color: var(--bright-red);
  color: var(--vary-light-gray);
  align-self: flex-start;
}

.manage__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 2rem;
}

.manage__text h3 {
  color: var(--dark-blue);
}
/* manage end */

/* comments start */
.comments {
  margin-top: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
}
.comments h1 {
  color: var(--dark-blue);
  font-size: 3.2rem;
}

.comments__body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  overflow-x: hidden;
  padding-top: 5rem;
}

.comments__box {
  flex: 0 0 32.33%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  padding: 3.5rem 2rem;

  gap: 1.5rem;

  background-color: var(--vary-light-gray);
}

.comments__box h4 {
  color: var(--dark-blue);
}

.comments__box p {
  text-align: center;
}

.comments__box img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateY(-50%) translateX(-50%);
}

.comments__spans {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.comments__spans span {
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--dark-grayish-blue);
  border-radius: 50%;
}

.comments__spans span:hover {
  cursor: pointer;
}
#active {
  background-color: var(--bright-red);
}
/* comments end */

/* simplify start */
.simplify {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7rem 18rem;
  background-color: var(--bright-red);
}

.simplify h1 {
  font-size: 3.2rem;
  color: var(--vary-light-gray);
}

.simplify__btn {
  background-color: var(--vary-light-gray);
  color: var(--bright-red);
}

.simplify__btn:hover {
  opacity: 0.9;
}
/* simplify end */

/* footer start */
.footer {
  background-color: var(--very-dark-blue);
  padding: 7rem 18rem;

  display: flex;
  justify-content: space-between;
}

.footer__nav_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.4rem;
}

.footer__nav ul {
  list-style-type: none;
}

.footer__nav ul li a {
  text-decoration: none;
  color: var(--vary-light-gray);
  opacity: 0.9;
}

.footer__nav ul li a:hover {
  color: var(--bright-red);
  transition: 0.3s color;
}

.footer__logo {
  filter: invert(100%) sepia(0%) saturate(7428%) hue-rotate(199deg)
    brightness(120%) contrast(96%);
}

.footer__socials {
  display: flex;
  gap: 1.2rem;
}

.footer__socials img:hover {
  cursor: pointer;
  filter: invert(41%) sepia(92%) saturate(1615%) hue-rotate(340deg)
    brightness(101%) contrast(90%);
  transition: 0.3s filter;
}

.footer__nav_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer__input {
  position: relative;


  display: flex;
  gap: 1.5rem;
}

.footer__input input {
  padding: 1.6rem 2.8rem;
  border-radius: 30px;
  border: none;
  outline: none;

}

.footer__input span {
  opacity: 0;
  font-size: 1.45rem;
  font-style: italic;
  top: 100%;
  left: 2%;

  position: absolute;
}

.footer__input a {
  box-shadow: none;
}

.footer__input a:hover {
  opacity: 0.9;
  background-color: var(--bright-red);
}

.footer__nav_4 p {
  font-size: 1.4rem;
  align-self: flex-end;
}
/* footer end */

/* media queries start */
@media screen and (max-width: 1440px) {
  .main {
    min-height: 65rem;
  }

  .main__illustration {
    max-width: 45rem;
  }

  .main__illustration img {
    width: 100%;
  }
}

@media screen and (max-width: 1325px) {
  .main {
    margin-top: 0;
  }
  .container {
    margin-left: 14rem;
    margin-right: 14rem;
  }

  .footer {
    padding: 7rem 14rem;
  }

  .simplify {
    padding: 7rem 14rem;
  }

  .main {
    gap: 5rem;
  }

  .manage {
    gap: 10rem;
  }

  .main__body {
    flex-grow: 1;
  }

  .manage__body {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1136px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .footer {
    padding: 5rem 5rem;
  }

  .simplify {
    padding: 5rem 5rem;
  }

  .manage__intro {
    flex-grow: 1;
  }
}

@media screen and (max-width: 925px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 865px) {
  html {
    font-size: 57%;
  }
}

@media screen and (max-width: 820px) {
  .footer__input span {
    top: 42%;
    left: 5%;
  }
  .main {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 15rem;
  }
  .main__body {
    order: 2;
    align-items: center;
    justify-content: center;
    text-align: center;

    max-width: 50rem;
  }
  .main__illustration img {
    max-width: 40rem;
  }
  .header ul {
    display: none;
  }

  .header a {
    display: none;
  }

  .header__hamburger {
    display: block;
  }
  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 2.5rem;
  }
  .footer__nav_1 {
    gap: 2.5rem;
  }

  .nav {
    align-items: center;
  }

  .footer__input {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .footer__nav_4 {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 780px) {
  .comments__box {
    flex: 0 0 90%;
    padding: 4rem 7.6rem;
  }
}

@media screen and (max-width: 650px) {
  .manage {
    flex-direction: column;
  }

  .manage__intro {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .simplify {
    flex-direction: column;
    gap: 2.6rem;
  }

  .simplify h1 {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .main {
    margin-top: 6rem;
  }
}
/* media queries end */
